.active {
    justify-content: space-between;
    background-color: azure;
}

.default {
    text-decoration: none;
    width: 200px;
    font-size: 50px;
    text-align: center;
    vertical-align: middle;
    float: right;
}
